<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>WebUploader演示</title>
<link rel="stylesheet" type="text/css"	href="/static/js/upload/webuploader.css" />
<!-- <link rel="stylesheet" type="text/css" href="/static/js/upload/style.css" /> -->
</head>
<body>
	<!-- <div id="wrapper">
		<div id="container">
			<div id="uploader" class="wu-example">
				用来存放文件信息
				<div id="thelist" class="uploader-list"></div>
				<div class="btns">
					<div id="picker">选择文件</div>
					<button id="ctlBtn" class="btn btn-default">开始上传</button>
				</div>
			</div>
		</div>
	</div> -->
	
	
	<!--dom结构部分-->
<!-- <div id="uploader-demo">
    用来存放item
    <div id="fileList" class="uploader-list"></div>
    <div id="filePicker">选择图片</div>
</div>
 -->
<div class="form-group">
	<label class="col-sm-3 control-label head-scu-label">头像</label>
	<div class="col-sm-4">
		<div id="userAvatarPreId"></div>
	</div>
	<div class="col-sm-2">
		<div class="head-scu-btn upload-btn" id="userAvatarBtnId">
			<i class="fa fa-upload"></i>&nbsp;上传
		</div>
	</div>
	<input type="hidden" id="userAvatar" />
</div>

 
	<script type="text/javascript" src="/static/js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="/static/js/upload/webuploader.js"></script>
	<!-- <script type="text/javascript" src="/static/js/upload/upload.js"></script> -->
	<!-- <script type="text/javascript" src="/static/js/upload/uploadFile.js"></script> -->
	<script type="text/javascript" src="/static/js/upload/uploadMore.js"></script>
</body>
</html>
