<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="renderer" content="webkit" />
<title>个人中心-首页</title>
<meta name="keywords" content="个人中心-首页" />
<meta name="description" content="个人中心-首页" />
	
	<style type="text/css">
		.laypage_curr {
			height: 36px !important;
		}
		.tit{
			text-align: center;
		}
		.videolist-list tbody{
			border-bottom: 1px solid #ddd;
		}
		
	</style>
	
</head>
<body>
 <h2 class="tit">帖子--评论管理</h2>
 
  <div class="form-inline">
  <div class="form-group">
     帖子标题:<span style="color:red;">${forum.subject}</span>
  </div>
</div>  


<br />
<div class="videolist-list">
<script id="details_template" type="text/html">
		
				{{if responseCode=="0000"}}
					<table class="table" border="0" cellspacing="0" cellpadding="0" id="blacklist_table">
						<tr class="title">
							<th width="250">评论人名字</th>
							<th width="250">评论内容</th>
							<th width="160">创建时间</th>
							<th width="120">操作</th>
						</tr>
					{{each object as element i}}
						<tr data-id="1">
							 
							<td>
								<div class="txt-box">
									<p>{{if element.userName==null}}无{{/if}}{{if element.userName!=null}}{{element.userName}}{{/if}}</p>
								</div>
							</td>
							<td>
								<div class="txt-box">
									<p>{{if element.content==null}}无{{/if}}{{if element.content!=null}}{{element.content}}{{/if}}</p>
								</div>
							</td>
							 
							<td>
								<div class="txt-box">
									<p>{{(element.createTime) | dateFormat : "yyyy-MM-dd hh:mm:ss" }}</p>
								</div>
							</td>
							<td>
								<div class="operation-area" style="min-width:150px;">
										 <a href="javascript:void(0)" data-value="{{element.id}}" class="setb-btn">删除</a>
								</div>
							</td>
						</tr>
					{{/each}}
					</table>
					{{if totalCount==0}}
						<div class="no-order">
							<em class="iconfont">&#xe608;</em>
							<p>未查到相关信息</p>
						</div>
					{{/if}}
			{{/if}}
		</script>
</div>
<div class="com-page">
	<div class="com-page-l" >
		<script id="details_page" type="text/html">
						{{if responseCode="0000" && totalCount>0}}
							<span >共{{totalCount}}条</span><span id="perPage">10条/页</span>
						{{/if}}	
					</script>
	</div>
	<div class="page-con"   >
		<div id="seller-per-page">
		</div>
	</div>
</div>
 

  
<!-- 可选Js库 Start -->
<script type="text/javascript" src="http://img.uhaozu.com/zuhao/common/slide.js"></script>
<script type="text/javascript" src="http://img.uhaozu.com/zuhao/common/popup/popup.js"></script>
<script type="text/javascript" src="http://img.uhaozu.com/zuhao/common/datepicker/WdatePicker.js"></script>
<script type="text/javascript" src="/static/scripts/common/template.js"></script>
<script type="text/javascript" src="/static/scripts/common/templateHelper.js"></script>
<script type="text/javascript" src="http://img.uhaozu.com/zuhao/common/page/page.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/scripts/comment/userCommentList.js?v=${jsVersion}"></script>
</body>
</html>