<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>异常</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link type="text/css" rel="stylesheet" href="http://img.uhaozu.com/zuhao/css/error-page.css" />
</head>
<body>
	<!-- 错误页面 Start -->
<div class="error-page-box">
	<div class="w1190">
		<div class="error-img"><img src="http://img.uhaozu.com/zuhao/images/common/img-500.png"/></div>
		<h2>很抱歉，您想访问的页面目前不知去向~</h2>
		<h3>遇到此情况的概率和中彩票差不多哦！去买张彩票试试运气吧！</h3>
		<p>你可以选择<a href="/">回到首页</a>或者<a href="javascript:location.reload();">刷新试试</a></p>
	</div>
</div>
<!-- 错误页面 End -->
</body>
</html>
