<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="renderer" content="webkit" />
<title>个人中心-首页</title>
<meta name="keywords" content="个人中心-首页" />
<meta name="description" content="个人中心-首页" />
 <link type="text/css" rel="stylesheet" href="/static/js/upload/style.css" /> 
 <script type="text/javascript" src="/static/js/upload/uploadImg.js"></script> 
<style type="text/css">
.laypage_curr {
	height: 36px !important;
}

.tit {
	text-align: center;
}

.blacklist-list tbody {
	border-bottom: 1px solid #ddd;
}
</style>

</head>
<body>
	<h2 class="tit">帖子添加</h2>

	<div class="container">

		<div class="form-group">
			<label for="exampleInputEmail1">标题</label> 
			<input type="text" class="form-control" id="title" placeholder="标题">
		</div>
		
		<div class="form-group">
			<label for="exampleInputPassword1">文件类型</label> 
			<select	class="form-control" onchange="selectOnchang(this)" id="type" data-value="0">
				<option selected="selected">客户</option>
				<option>平台</option>
			</select>
		</div>
		
		<div class="form-group">
			<label for="exampleInputPassword1">内容</label> 
			<textarea type="text" class="form-control" id="video-content" placeholder="内容" ></textarea>
		</div>
		
		<div class="form-group">
			<label for="exampleInputPassword1">视频地址</label> 
			<input type="text" class="form-control" readonly="readonly" id="video-url" placeholder="video url">
		</div>
		
		
		<div class="form-group">
			<div id="uploader" class="wu-example">
				<!--用来存放文件信息-->
				<div id="thelist" class="uploader-list"></div>
				<div class="btns">
					<div id="picker" style="float: left;">选择文件</div>
					<button id="ctlBtn" class="btn btn-default"
						style="margin-top: 5px; margin-left: 20px;">开始上传</button>
				</div>
			</div>
		</div>
		
		<div id="editor">
        	<p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
    	</div>
    
		<div style="text-align: center;">
			<button class="btn btn-success btn-lg" id="addForum"
				style="width: 200px;">添加</button>
		</div>
	</div>
	<script type="text/javascript"
		src="http://img.uhaozu.com/zuhao/common/popup/popup.js"></script>
    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
	<script type="text/javascript"
		src="https://unpkg.com/wangeditor@3.0.10/release/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')
        // 或者 var editor = new E( document.getElementById('#editor') )
    
        // 关闭粘贴样式的过滤
        editor.customConfig.pasteFilterStyle = false
        
     	// 隐藏“网络图片”tab
        //editor.customConfig.showLinkImg = false

          // 下面两个配置，使用其中一个即可显示“上传图片”的tab。但是两者不要同时使用！！！
    // editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
     editor.customConfig.uploadImgServer = '/upload/api/uploadFile'  // 上传图片到服务器
     
    	// 限制一次最多上传 5 张图片
	    editor.customConfig.uploadImgMaxLength = 1
	    editor.customConfig.uploadFileName = 'file'
	    editor.customConfig.customAlert = function (info) {
    		// info 是需要提示的内容
    		Alert("提醒", info);
    	}
        editor.customConfig.uploadImgHooks = {
        	    before: function (xhr, editor, files) {
        	        // 图片上传之前触发
        	        // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，files 是选择的图片文件
        	        
        	        // 如果返回的结果是 {prevent: true, msg: 'xxxx'} 则表示用户放弃上传
        	         //return {
        	         //    prevent: true,
        	        //     msg: '放弃上传'
        	        // }
        	    },
        	    success: function (xhr, editor, result) {
        	    	console.log(result);
        	        // 图片上传并返回结果，图片插入成功之后触发
        	        // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
        	    },
        	    fail: function (xhr, editor, result) {
        	    	console.log(result);
        	        // 图片上传并返回结果，但图片插入错误时触发
        	        // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
        	    },
        	    error: function (xhr, editor) {
        	    	console.log(editor);
        	        // 图片上传出错时触发
        	        // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
        	    },
        	    timeout: function (xhr, editor) {
        	    	console.log(editor);
        	        // 图片上传超时时触发
        	        // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
        	    },

        	    // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
        	    // （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
        	    customInsert: function (insertImg, result, editor) {
        	        // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
        	        // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果

        	        //"{"filePath":"http://47.95.207.185:8080/pictures/pic/1236_20171014225355552.jpg",
        	        //	"responseCode":"0000","responseMsg":"success"}"
        	        result = eval("(" + result + ")");
        	        if (result.responseCode == "0000") {
						var url = result.filePath
		        	    insertImg(url)
						 
					}  
        	        // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
        	        var url = result.url
        	        insertImg(url)

        	        // result 必须是一个 JSON 格式字符串！！！否则报错
        	    }
       	}
    
        // 通过 url 参数配置 debug 模式。url 中带有 wangeditor_debug_mode=1 才会开启 debug 模式
        editor.customConfig.debug = location.href.indexOf('wangeditor_debug_mode=1') > 0
        editor.create()
        
    </script>
    
	<script type="text/javascript">
		

		$("#addForum").click(function() {

			$.ajax({
				type : 'POST',
				url : "/forum/json/doAddForum",
				data : {
					"subject" : $("#title").val(),
					"picUrl" : $("#video-url").val(),
					"type":$("#type").attr("data-value"),
					"message":$("#video-content").val()
				},
				async : false,
				success : function(result) {
					result = eval("(" + result + ")");
					if (result.responseCode == "0000") {
						Alert("提醒", result.responseMsg,true,a);
						window.location.href = "/forum/forumList";
					} else {
						Alert("提醒", result.responseMsg, false);
					}

				}
			});

		});
		function a() {
			window.location.href = "/forum/forumList";
		}
		function selectOnchang(obj) {
			var objs = obj;
			console.log(objs.selectedIndex);
			//获取被选中的option标签选项
			$("#type").attr("data-value",objs.selectedIndex);
		}
	</script>
</body>
</html>