<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="renderer" content="webkit" />
<title>个人中心-首页</title>
<meta name="keywords" content="个人中心-首页" />
<meta name="description" content="个人中心-首页" />
	
	<style type="text/css">
		.laypage_curr {
			height: 36px !important;
		}
		.tit{
			text-align: center;
		}
		.videolist-list tbody{
			border-bottom: 1px solid #ddd;
		}
		
	</style>
	
</head>
<body>
 <h2 class="tit">帖子管理</h2>
 
 <div class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">标题</label>
    <input type="text" class="form-control" id="title_form" value="" placeholder="标题">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">帖子分类</label>
    <select	class="form-control"   id="type_form"   >
		<option selected="selected" value="0">在线交流（平台发帖）</option>
		<option value="1">交流1发帖</option>
		<option value="2">交流2发帖</option>
	</select>
  </div>
  <button type="submit" class="btn btn-default" id="searchBtn">查询</button>
  <button class="btn btn-success" id="add_forum" style="float: right;">帖子add</button>
</div>



<br />
<div class="videolist-list">
<script id="details_template" type="text/html">
		
				{{if responseCode=="0000"}}
					<table class="table" border="0" cellspacing="0" cellpadding="0" id="blacklist_table">
						<tr class="title">
							<th width="190">文件标题</th>
							<th width="250">文件类型 </th>
							<th width="250">内容</th>
							<th width="250">图片地址</th>
							<th width="250">点击数</th>
							<th width="250">top</th>
							<th width="250">审核失败原因</th>
							<th width="250">评论数</th>
							<th width="250">审核状态</th>
							<th width="160">创建时间</th>
							<th width="120">操作</th>
						</tr>
					{{each object as element i}}
						<tr data-id="1">
							<td>
								<div class="txt-box">
									<p>{{if element.subject==null}}无{{/if}}{{if element.subject!=null}}{{element.subject}}{{/if}}</p>
								</div>
							</td>
							<td>
								<div class="txt-box">
									<p>
										{{if element.type==0}}在线交流{{/if}}
										{{if element.type==1}}玩家交流1{{/if}}
										{{if element.type==2}}玩家交流2{{/if}}
									</p>
								</div>
							</td>
							<td>
								<div class="txt-box">
									<p style="min-width:150px;  overflow:visible;
     white-space:normal;
     word-wrap: break-word; ">{{if element.message==null}}无{{/if}}{{if element.message!=null}}{{element.message}}{{/if}}</p>
								</div>
							</td>
							<td>
								<div class="txt-box">
									<p style="min-width:150px;">{{if element.picUrl==null}}无{{/if}}{{if element.picUrl!=null}}{{element.picUrl}}{{/if}}</p>
								</div>
							</td>
							<td>
								<div class="txt-box">
									<p>{{if element.clicks==null}}无{{/if}}{{if element.clicks!=null}}{{element.clicks}}{{/if}}</p>
								</div>
							</td>
							<td>
								<div class="txt-box">
									<p>{{if element.top==null}}无{{/if}}{{if element.top!=null}}{{element.top}}{{/if}}</p>
								</div>
							</td>
							<td>
								<div class="txt-box">
									<p>{{if element.reason==null}}无{{/if}}{{if element.reason!=null}}{{element.reason}}{{/if}}</p>
								</div>
							</td>
							<td>
								<div class="txt-box">
									<p>{{if element.remark==null}}无{{/if}}{{if element.remark!=null}}{{element.remark}}{{/if}}</p>
								</div>
							</td>
							<td>
								<div class="txt-box">
									<p>
									{{if element.invisible==0}}未审核{{/if}}
									{{if element.invisible==1}}审核通过{{/if}}
									{{if element.invisible==2}}审核不通过{{/if}}
									</p>
								</div>
							</td>
							<td>
								<div class="txt-box">
									<p>{{(element.createTime) | dateFormat : "yyyy-MM-dd hh:mm:ss" }}</p>
								</div>
							</td>
							<td>
								<div class="operation-area" style="min-width:150px;">
											 <a href="/forum/modifyForum?id={{element.tid}}" >详情</a>

										 <a href="javascript:void(0)" data-value="{{element.tid}}" class="pass-btn">通过</a>
										 <a href="javascript:void(0)" data-value="{{element.tid}}" class="nopass-btn">不通过</a>
<br />										
 <a href="javascript:void(0)" data-value="{{element.tid}}" class="setb-btn">关闭</a>
										 <a href="/userComment/userCommentList?tid={{element.tid}}" >查看评论</a>
  	
								</div>
							</td>
						</tr>
					{{/each}}
					</table>
					{{if totalCount==0}}
						<div class="no-order">
							<em class="iconfont">&#xe608;</em>
							<p>未查到相关信息</p>
						</div>
					{{/if}}
			{{/if}}
		</script>
</div>
<div class="com-page">
	<div class="com-page-l" >
		<script id="details_page" type="text/html">
						{{if responseCode="0000" && totalCount>0}}
							<span >共{{totalCount}}条</span><span id="perPage">10条/页</span>
						{{/if}}	
					</script>
	</div>
	<div class="page-con"   >
		<div id="seller-per-page">
		</div>
	</div>
</div>
 

  
<!-- 可选Js库 Start -->
<script type="text/javascript" src="http://img.uhaozu.com/zuhao/common/slide.js"></script>
<script type="text/javascript" src="http://img.uhaozu.com/zuhao/common/popup/popup.js"></script>
<script type="text/javascript" src="http://img.uhaozu.com/zuhao/common/datepicker/WdatePicker.js"></script>
<script type="text/javascript" src="/static/scripts/common/template.js"></script>
<script type="text/javascript" src="/static/scripts/common/templateHelper.js"></script>
<script type="text/javascript" src="http://img.uhaozu.com/zuhao/common/page/page.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/scripts/forum/forumlist.js?v=${jsVersion}"></script>
</body>
</html>