<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="renderer" content="webkit" />
<title>个人中心-首页</title>
<meta name="keywords" content="个人中心-首页" />
<meta name="description" content="个人中心-首页" />
 <link type="text/css" rel="stylesheet" href="/static/js/upload/style.css" /> 
 <script type="text/javascript" src="/static/js/upload/uploadImg.js"></script> 
<style type="text/css">
.laypage_curr {
	height: 36px !important;
}

.tit {
	text-align: center;
}

.blacklist-list tbody {
	border-bottom: 1px solid #ddd;
}
</style>

</head>
<body>
	<h2 class="tit">帖子编辑</h2>

	<div class="container">

		<div class="form-group">
			<label for="exampleInputEmail1">标题</label> 
			<input type="text" class="form-control" id="title" placeholder="标题" value="${forum.subject}">
		</div>
		
		<div class="form-group">
			<label for="exampleInputPassword1">帖子分类</label> 
			<select	class="form-control" onchange="selectOnchang(this)" id="type" data-value="${forum.type}"   >
				<option <#if  forum.type==0> selected="selected"</#if>>在线交流（平台发帖）</option>
			</select>
		</div>
		
		<div class="form-group">
			<label for="exampleInputPassword1">内容</label> 
			<textarea type="text" class="form-control" id="video-content" placeholder="内容"   style="  min-height: 150px;" >${forum.message}</textarea>
		</div>
		
		<!-- <div class="form-group">
			<label for="exampleInputPassword1">图片地址</label> 
			<input type="text" class="form-control" readonly="readonly" id="waibu-url" placeholder="帖子图片地址"  value="${forum.picUrl}">
		</div>
		
		
		<div class="form-group">
		<div id="wrapper2">
        <div id="container">
            头部，相册选择和格式选择

            <div id="uploader22">
                <div class="queueList">
                    <div id="dndArea" class="placeholder">
                        <div id="filePickerImg2"></div>
                        <p>或将照片拖到这里，单次最多可选300张</p>
                    </div>
                </div>
                <div class="statusBar" style="display:none;">
                    <div class="progress">
                        <span class="text">0%</span>
                        <span class="percentage"></span>
                    </div><div class="info"></div>
                    <div class="btns">
                        <div id="filePicker22"></div><div class="uploadBtn">开始上传</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
		</div>
		<div style="text-align: center;">
			<button class="btn btn-success btn-lg" id="modifyForum"
				style="width: 200px;">更新</button>
		</div> -->
	</div>
	<script type="text/javascript"
		src="http://img.uhaozu.com/zuhao/common/popup/popup.js"></script>

	<script type="text/javascript">
	

		$("#modifyForum").click(function() {

			$.ajax({
				type : 'POST',
				url : "/forum/json/doModifyForum",
				data : {
					"tid":'${forum.tid}',
					"subject" : $("#title").val(),
					"picUrl" : $("#waibu-url").val(),
					"type":$("#type").attr("data-value"),
					"message":$("#video-content").val()
				},
				async : false,
				success : function(result) {
					result = eval("(" + result + ")");
					if (result.responseCode == "0000") {
						Alert("提醒", result.responseMsg,true,a);
					} else {
						Alert("提醒", result.responseMsg, false);
					}

				}
			});
			function a() {
				window.location.href = "/forum/forumList";
			}

		});

		function selectOnchang(obj) {
			var objs = obj;
			console.log(objs.selectedIndex);
			//获取被选中的option标签选项
			$("#type").attr("data-value",objs.selectedIndex);
		}
	</script>
</body>
</html>