<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context-4.3.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">


	<!--   注解扫描包 , 多个写法:com.zsx.web.*,org.weixin.* (以完成bean创建和自动依赖注入的功能)  
 -->
	<context:component-scan base-package="com.yunc.upms" />
	
	 
<!-- controller返回json str及中国乱码问题 -->
 <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="fastJsonHttpMessageConverter"/>
                <ref bean="stringHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter" />

    <bean id="fastJsonHttpMessageConverter"
          class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
                <value>text/plain;charset=UTF-8</value>
                <value>text/json;charset=UTF-8</value>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
        <property name="features">
            <array>
               <!-- <value>WriteMapNullValue</value>
                <value>WriteNullStringAsEmpty</value>-->

				<value>WriteMapNullValue</value>
				<value>QuoteFieldNames</value>
				<value>WriteDateUseDateFormat</value>
				<value>WriteEnumUsingToString</value>

            </array>
        </property>
    </bean>
<!-- controller返回json str及中国乱码问题 -->

	
     <bean
            class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="WEB-INF/views/"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="time_format">HH:mm</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="number_format">#.######</prop>
                <prop key="classic_compatible">true</prop>
            </props>
        </property>
    </bean>
    <!-- freemarker视图解析器 -->
    <bean
            class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="requestContextAttribute" value="pageReq"/>
        <property name="cache" value="false"/>
        <property name="suffix" value=".html"/>
    </bean>
    
    <mvc:annotation-driven />
    <!-- 对静态资源文件的访问,使用默认的Servlet来响应静态文件 -->
    <mvc:resources mapping="/static/**" location="/static/"/>

	<mvc:resources mapping="favicon.ico" location="favicon.ico"/>
	<!-- 文件上传配置 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>104857600</value> <!-- 100M 1024 * 1024 * 100 -->
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>
	<mvc:interceptors>
   		<mvc:interceptor>
			<mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/login/login"/>
            <mvc:exclude-mapping path="/user/json/doLogin"/>
            <mvc:exclude-mapping path="/*/api/*"/>
        	<bean class="com.yunc.upms.server.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
    </mvc:interceptors>
</beans>  