<!-- 个人中心--二级菜单-开始 -->
<div class="sec-center-tab">
	<#assign menuurl=pageReq.getRequestUri() />
	<ul class="clearfix">
		<li <#if menuurl?contains('userPassword/modifyPassword')>class="on"</#if> ><a href="/userPassword/modifyPassword">登录密码</a></li>
		<li <#if menuurl?contains('userBase/changeMobilePhone')>class="on"</#if> ><a href="/userBase/changeMobilePhoneOne">换绑手机</a></li>
		<li <#if menuurl?contains('realAuth/')>class="on"</#if> ><a href="/realAuth/realAuthPersonal">实名认证</a></li>
		<li <#if menuurl?contains('userPassword/setPayPassword')>class="on"</#if> ><a href="/userPassword/setPayPassword">支付密码</a></li>
	</ul>
</div>
<!-- 个人中心--二级菜单-结束 -->